<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="d-flex col-8 justify-content-center align-items-center my-3">
    <div *ngIf="winner">Winner: <strong>{{ winner }}</strong></div>
    <div *ngIf="!winner">Next player:  <strong>{{ nextPlayer }}</strong></div>
</div>
<div class="d-flex col-8 justify-content-center gap-4 container-fluid">
    <div class="col-4">
        <div class="board row m-0">
            <button (click)="makeAMove(index)"
                class="col-4 square d-flex justify-content-center align-items-center square"
                *ngFor="let square of squares; let index = index">
                {{ square }}
            </button>
        </div>
    </div>

    <div class="col-4">
        History
        <div *ngFor="let item of history; let index = index">
            <button (click)="goToHistory(index)">
                Move to #{{index}}
            </button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>